{% extends 'poll/index.html' %}

{% block content %}
    {% if listQuestion%}
        {% for item in listQuestion %}
            <a href="{% url 'detail' item.id %}"><div>{{item.question_text}}</div></a>
        {% endfor %}
    {% else %}
        <div class="exception" style="font-size: 20px; font-weight: bold; color: red">404</div>
    {%endif%}
{% endblock %}

