{% extends 'poll/index.html' %}

{% block content %}
    {% if qs %}
        <form action="{% url 'vote' qs.id %}" method="post">
            {% csrf_token %}
           {% for item in qs.choice_set.all %}
                <div>
                    <input type="radio" value="{{item.id}}" name="choice" >
                    <label>{{item.choice_text}}</label>
                </div>
            {% endfor %}
            <input type="submit" value="send">
        </form>
    {% endif %}
{% endblock %}