<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>DEMO</title>
</head>
<body>
<!--    {% block header %}-->
<!--    {% endblock %}-->
    <div class="header">
        <div class="carousel"
             style="width: 100%; height: 5rem; background: azure; text-align: center; line-height: 5rem; font-weight: bold; color: antiquewhite ; font-size: 3rem">
            Header
        </div>
        <div class="list-menu"
             style="width: 100%; height:2.5rem; display: flex; justify-content: center; align-items: center">

            <div class="item-menu" style="width: 4rem; font-weight: bold; font-size: 15px">Item 1</div>
            <div class="item-menu" style="width: 4rem; font-weight: bold; font-size: 15px">Item 2</div>
            <div class="item-menu" style="width: 4rem; font-weight: bold; font-size: 15px">Item 3</div>
            <div class="item-menu" style="width: 4rem; font-weight: bold; font-size: 15px">Item 4</div>

        </div>
    </div>
    <div class="content">
        {% block content %}
        {% endblock %}
    </div>

</body>
</html>