{% extends 'poll/index.html' %}

{% block content %}
    {% if rq %}
        <h1>{{ rq.question_text }}</h1>
        <h2>Vote</h2>
        {% for i in rq.choice_set.all %}
            <div>{{i.choice_text}} : {{i.votes}}</div>
        {% endfor %}
    {% else %}}
        <h1 style="color: red; font-weight: bold;">Chưa có dữ liệu</h1>
    {% endif %}
{% endblock%}